name: Run test

on:
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version-file: ./.node-version
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --shamefully-hoist
        env:
          CI: true

      - name: Edit wrangler.toml (web)
        working-directory: apps/web
        run: |
          mv ./wrangler.toml.sample ./wrangler.toml

      - name: Migrate database
        working-directory: apps/web
        run: |
          npx drizzle-kit generate
          npx wrangler d1 migrations apply everything-gps-database --local
          npx wrangler d1 execute everything-gps-database \
            --command="INSERT INTO Locations (name, lat, lng) VALUES ('Himeji Castle', '34.8394324', '134.693894')" \
            --local

      - name: Run test
        working-directory: apps/web
        run: pnpm test
